@import '../../common/colors.scss';

.movie-list{
    margin:20px 0px;
    h2 {
        color:$font-secondary;
        margin-bottom:10px;
        font-weight: 400;
    }
}
.movies-heading{
    margin-bottom:40px;
}
.movie-container{
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
}